/* 
Oranssi: #fcb669, R252 G182 B105
Pinkki: #f9ace3, R249 G172 B227 */

header { grid-area: header;}
aside { grid-area: aside;}
article { grid-area: article;}
nav { grid-area: nav;}
footer { grid-area: footer;}
section { grid-area: section;}

body {
      display: grid;
      grid-template-areas:
        'header header header header header header'
        'aside nav nav nav nav nav'
        'aside article article article section section'
        'footer footer footer footer footer footer';
      grid-gap: 10px;
      background-color: #f9ace3;
      padding: 10px;
      font-size: 16px;
      font-family: 'Lobster Two', cursive;
    }

    header, aside, article, nav, footer,  section {
        border: none; 
    }

    @media screen and (min-width: 320px) and (max-width: 480px){
      body {
        display: flex;
        flex-direction: column;
        background-color: #f9ace3;
        padding: 3px;
        font-size: 10px;
        }
    
      aside {
        
      }
    }
    
    @media screen and (max-width: 320px){
      body {
        width: 320px;
      }
    }